@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("上传测试", "Upload")</li>
    <li>@Html.ActionLink("导出Excel", "ExportExcel")</li>
    <li>@Html.ActionLink("Transfer", "TransferFrom", new { id = Radial.RandomCode.NewInstance.Next(1, 100) })</li>
    <li>@Html.ActionLink("分页测试", "Page")</li>
    <li>@Html.ActionLink("图片像素", "ImagePixelSize")</li>
    <li>@Html.ActionLink("参数测试", "Param")</li>
</ul>
<p>from：@ViewBag.UserIP</p>
